.surveyFormAnswered {
    color: #ccc;
    font-style: italic;
    text-decoration: underline;
}


.surveyFormNotAnswered {
    color: #000;
    font-style: normal;
    text-decoration: none;
}

.surveyFormButton {
    cursor: pointer;
}